
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:black;
    color: orange;
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
    font-size: 150%;
}

.editor {
  border: none;
  font-family: mono;
  width: 100%;
  padding-right: 50%;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  clear: both;
}


.meta {
  height: 100%;
  overflow: auto;
  opacity: 0.75;
  float: right;
  max-width: 50%;
}
.meta * {
  font-size: 75%;

}
